<form>
  <ul>
    <li>养老：<input type="number" (input)="changeRate()" name="yanglao" [(ngModel)]="shebao.yanglao"></li>
    <li>医疗：<input type="number" (input)="changeRate()" name="yiliao" [(ngModel)]="shebao.yiliao"></li>
    <li>失业：<input type="number" (input)="changeRate()" name="shiye" [(ngModel)]="shebao.shiye"></li>
    <li>工伤：<input type="number" (input)="changeRate()" name="gongshang" [(ngModel)]="shebao.gongshang"></li>
    <li>生育：<input type="number" (input)="changeRate()" name="shengyu" [(ngModel)]="shebao.shengyu"></li>
    <li>公积金：<input type="number" (input)="changeRate()" name="gongjijin" [(ngModel)]="shebao.gongjijin"></li>
  </ul>
</form>
